
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div id="categories-sidebar">
            @Html.Action("Index", "ProductCategories")
        </div>
        <div id="products-mainsection">
            @Html.Action("Index", "Products")
        </div>
    </div>
</div>

