
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        @Html.Action("Index", "ProductCategories")
        @Html.Action("Index", "Products")
    </div>
</div>

